body{margin:0px}
/* nav 樣式設定 */
nav{
	display:flex;
}
nav>.logo{
	/*沒有彈性，固定尺寸*/
	flex:none;width:100px;
	background-color:#ffcccc;
	
}
nav>.menu{
	/*盡量把容器的空間張滿(就用auto)*/
	flex:auto;
	background-color:#ccccff;
	
}
nav>.user{
	flex:none;width:100px;
	background-color:#ccffcc;
	
}
/* main 樣式設定 */
main{/*  容器 ★flex-wrap=螢幕縮放時自動換行*/
	display:flex; flex-wrap:wrap;
	justify-content:center;
	align-items:flex-start;
	background-color:#cccccc;
	
}
main>.item{/* 項目 */
	flex:none;
	width:270px;margin:10px;
	background-color:#ffcccc;
	
}

@media (max-width:1200px){
	main>.item{
		width:45%;
		
	}
}

@media (max-width:500px){
	main>.item{
		width:90%;
	}
}
